* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: aqua;
  }
  
  h1 {
    font-size: 30px;
    color: aqua;
    font-weight: 600;
  }
  
  header {
    text-align: center;
    background-color: black;
    border-color: aqua;
    border-style: inset;
  }
  
  .urlstocker {
    width: 330px;
    padding: 3px 3px;
    margin: 10px 1%;
    border-radius: 5px;
    background-color: black;
    border-color: aqua;
    border-style: inset;
  }
  
  .title {
    margin-bottom: 5px;
    width: auto;
    cursor: pointer;
    padding: 3px;
  }
  
  .title-input {
    width: 50%;
    font-size: 1.1rem;
    padding:3px;
    border-radius: 3px;
    outline: none;
  }
  
  .urlAddInput {
    width: 100%;
    font-size: 1.3rem;
    outline: none;
    border-color: aqua;
    border-radius: 3px;
    padding: 5px 10px 0px 5px;
    margin-bottom: 5px;
  }
  
  .companyNameInput {
    width: 100%;
    font-size: 1.3rem;
    outline: none;
    border-color: aqua;
    border-radius: 3px;
    padding: 5px 10px 0px 5px;
    margin-bottom: 5px;
  }
  
  .submitInput {
    font-size: 20px;
    padding: 5px;
  }
  
  .urlBox {
    display: flex;
    align-items: center;
    padding: 17px 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: aqua;
    border-style: dotted;
  }
  
  .urlText {
    margin-left: 12px;
    flex-grow: 1;
  }
  
  .trashButton {
    margin-right: 5px;
    border: none;
    cursor: pointer;
  }
  
  .memoButton {
    margin-right: 8px;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .stockerArea {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 94vh;
    overflow-y: scroll;
  }
  
  .addUrlStocerButtonArea {
    margin-left: 1%;
    margin-top: 25px;
  }
  
  .addUrlStockerButton {
    padding: 10px 18px;
    border-radius: 9999px;
    font-size: 30px;
    background-color: black;
    color: aqua;
    cursor: pointer;
    border: inset;
    border-color: aqua;
    box-shadow: 3px 3px 8px 1px aqua;
    transition: all 0.3s;
  }
  
  .addUrlStockerButton:hover {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
  
  .urlstockerTitle {
    display: flex;
    justify-content: space-between;
  }
  
  .stockerDeleteButton {
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .memo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: dotted;
    border-color: aqua;
  }
  
  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
    font-size: 15px;
  }
  
  .memoInput {
    width: 100%;
    height: 50vh;
    font-size: 1.3rem;
    outline: none;
    border-color: aqua;
    border-radius: 3px;
    padding: 5px 10px 0px 5px;
    margin-bottom: 5px;
  } 
  